<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap"rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css">

</head>

<body>
    <main>
        {{>header}}
        <p>{{errorMessage}}</p>
    </main>

    {{>footer}}

</body>


</html>