<!DOCTYPE html>

<html>

<head>
    <title>Cats</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap"rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/pageStyles.css">
</head>

<body>
    {{>header}}
    <h1>Section Grid 1</h1>
    <section class="grid1">
        <div>
            <img id="idImg" src="/img/cat1.jpg">
            <p class="description">First cat</p>
        </div>
        <div>
            <img id="idImg" src="/img/cat2.jpg">
            <p class="description">Second cat</p>
        </div>
        <div>
            <img id="idImg" src="/img/cat3.jpg">
            <p class="description">Third cat</p>
        </div>
        <div>
            <img id="idImg" src="/img/cat4.jpg">
            <p class="description">Forth cat</p>
        </div>
        <div>
            <img id="idImg" src="/img/cat5.jpg">
            <p class="description">Fifth cat</p>
        </div>
        <div>
            <img id="idImg" src="/img/cat6.jpg">
            <p class="description">Sixth cat</p>
        </div>
        <div>
            <img id="idImg" src="/img/cat7.jpg">
            <p class="description">Seventh cat</p>
        </div>
        <div>
            <img id="idImg" src="/img/cat8.jpg">
            <p class="description">Eith cat</p>
        </div>
        <div>
            <img id="idImg" src="/img/cat9.jpg">
            <p class="description">Nineth cat</p>
        </div>

        <div class="anuncio">
            <img id="idAnuncio" src="/img/anuncio.jpg">
            <p class="description">Paid Promotion</p>
        </div>
    </section>

    {{>footer}}
</body>

</html>