<!DOCTYPE html>

<html>

<head>
    <title>Shuttle</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/shuttlePageStyle.css">
</head>

<body>
    {{>header}}
    <h1>Section Grid 3</h1>
    <section class="grid3">

        <div class="grid3-item">
            <img src="/img/shuttle1.jpg">
            <p >First photo</p>
        </div>
        <div class="grid3-item">
            <img src="/img/shuttle2.jpg">
            <p>Second photo</p>
        </div>
        <div class="grid3-item">
            <img src="/img/shuttle3.jpg">
            <p>Third photo</p>
        </div>

    </section>

    {{>footer}}
</body>

</html>