<!DOCTYPE html>

<html>

<head>
    <title>Space</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/spacePageStyles.css">
</head>

<body>
    {{>header}}
    <h1>Section Grid 2</h1>
    <section class="grid2">
        <div class="video">
            <img id="idImg" src="/img/space1.jpg">
            <h2>Como criar um grid show</h2>
        </div>
        <div class="sidebar">
            <div>
                <img id="idImg" src="/img/space2.jpg">
                <p class="descriptionSpace">Second photo</p>
            </div>
            <div>
                <img id="idImg" src="/img/space3.jpg">
                <p class="descriptionSpace">Third photo</p>
            </div>
            <div>
                <img id="idImg" src="/img/space4.jpg">
                <p class="descriptionSpace">Forth photo</p>
            </div>
            <div>
                <img id="idImg" src="/img/space5.jpg">
                <p class="descriptionSpace">Fifth photo</p>
            </div>

        </div>

        
    </section>

    {{>footer}}
</body>

</html>